html, body {
    margin: 0;
}

body {
    background-image: url('./assets/bg.jpg');
    font-size: 0;
    height: 100vh;
    width: 100vw;
}

body * {
    box-sizing: border-box;
}

body > img {
    position: absolute;
    top: 2%;
    right: 2%;
}

#container {
    margin: 3%;
    width: 94%;
    overflow: hidden;
    font-size: 18px;
    color: white;
}

.section, #nav {
    width: 100%;
    position: relative;
}

#header {
    background-image: url('./assets/tl.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 13vh;
}

#header > img {
    margin: 0.5% 0.5%;
}

#nav {
    width: 68%;
    float: right;
    padding: 0;
    margin-top: 2%;
    height: 5vh;

}

#nav ul{
    z-index: 2;
    display: flex;
    flex-direction:  row;
    align-items: center;
    list-style-type: none;
    height: 100%;
    padding: 0;
}

#nav li {
    width: 20%;
    height: 100%;
}

#nav li div {
    background-image: url('./assets/navbar-li.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    height: 100%;
    position: relative;
}

#nav li:first-child div {
    background-position: bottom;
}

#nav span:first-child {
    position: absolute;
    top: 12%;
    left: 13%;
}

#nav span:last-child{
    position: absolute;
    bottom: 16%;
    right: 5%;
    font-size: 8px;
    color: gray;
    letter-spacing: 1.5px;
}

#nav img {
    position: absolute;
    left: 13%;
    bottom: 20%;
}

.panel, .station-panel {
    display: flex;
    justify-content: center;
}

.station-panel > img {
    border: 6px solid #232527;
    width: 80%;
}

#below-station-panel {
    width: 100%;
    position: relative;
    height: 100px;
}

#below-station-panel > img {
    position: absolute;
    top: 0;
    right: 10%;
}

#below-station-panel > button {
    background-color: #637C86;
    color: black;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    height: 50%;
    width: 15%;
    border: 0px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 50px;
}

#left-menu {
    position: absolute;
    top: 25%;
    left: 0.5%;
}

.section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.section > div {
    width: 80%;
    justify-content: center;
}

#acts {
    height: 400px;
}

#acts > div >div:first-child {
    height: 50px;
    color: #FFE2C2;
    font-size: 22px;
    text-transform: uppercase;
}

.panel {
    background-color: rgba(45,72,86, 0.3);
    border: 6px solid #2D424B;
    position: relative;
    height: 250px;
}

#acts .panel {
    height: 300px;
}

#acts .panel img {
    height: 75%;
    position: absolute;
    right: 0;
    top: 0;
}

.panel .text {
    width: 55%;
    height: 100%;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.25;
    font-weight: lighter;
    color: #FFE2C2;
}

#acts .panel .text, #post-visit .panel .text {
    position: absolute;
    left: 5%;
    top: 2%;
}

.heading {
    color: #FF911F;
    font-size: 18px;
}

#acts .panel img, #post-visit .panel img {
    position: absolute;
    top: 0;
    right: 0;
}

#acts .panel img {
    height: 75%;
}

.tab {
    height: 50px;
    width: 100%;
    position: relative;
}

.tab img {
    position: absolute;
    right: 0;
    top: 0;
}

.tab p {
    position: absolute;
    right: 7%;
    top: 0;
    font-size: 8px;
    color: gray;
    letter-spacing: 1.5px;
}

.section {
    height: 300px;
}

#visit .panel > img {
    position: absolute;
    top: 0;
    left: 0;
}

#visit .text {
    position: absolute;
    top: 2%;
    right: 5%;
}

#post-visit .panel img {
    height: 100%;
}